 .navbar{
  background-color: rgba(240, 129, 240, 0.219);
  height: 30px;
  
}
.navbar > a{
    margin: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

 .box{
    /* border:5px solid transparent; */
    display: flex;
}

.container{
    gap: 10px;
    border: solid gray;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: auto;
    grid-template-areas: "logo logo logo logo facebook" 
                         "logo logo logo logo twitter" 
                         "logo logo logo logo mask" 
                         "dad dad joker oldlady lady" 
                         "musical astroboy astroboy candy hat"
                         "musical santa classic classic shipping"
                         "prop santa ween1 ween2 witch"
                         "blackmask rain rain . ady";                      
}

.container >div > img{
    object-fit: fill;
    width: 100%;
}

.logo{
    grid-area: logo;

}

.facebook{
    grid-area: facebook;
}

.twitter{
    grid-area: twitter;
}

.mask{
    grid-area: mask;
    
}

.dad{
    grid-area: dad;
}

.joker{
    grid-area: joker;
}

.oldlady{
    grid-area: oldlady;
}

.lady{
    grid-area: lady;

}

.musical{
    grid-area: musical;
}

.astroboy{
    grid-area: astroboy;
}

.candy{
    grid-area: candy;
}

.hat{
    grid-area: hat;
}
.prop{
    grid-area: prop;
}
.santa{
    grid-area: santa;
}

.classic{
    grid-area:classic;
}

.shipping{
    grid-area: shipping;
}

.ween1{
    grid-area: ween1;
}

.ween2{
    grid-area: ween2;
}

.blackmask{
    grid-area: blackmask;
}

.rain{
    grid-area: rain;
}

.ady{
    font-weight: bold;
    font-size: large;
    grid-area: ady;
    text-align: end;
    align-items: end;
    justify-content: end;
    color:rgba(255, 0, 0, 0.34);
    display: flex;
}
